<style>
    @@media (min-width: 960px) {
        .equal-flex-item {
            flex: 1 1 0;
            min-width: 0;
        }
    }
</style>

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-8">
    <MudGrid Spacing="4">
        
        <MudItem xs="12" sm="6" md="3">
            <ColorWithContainerDisplay ColorRoleName="Primary"
                                       RoleColor="Theme.Primary" 
                                       OnRoleColor="Theme.OnPrimary"
                                       ContainerRoleColor="Theme.PrimaryContainer" 
                                       OnContainerRoleColor="Theme.OnPrimaryContainer" />
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <ColorWithContainerDisplay ColorRoleName="Secondary"
                                       RoleColor="Theme.Secondary"
                                       OnRoleColor="Theme.OnSecondary"
                                       ContainerRoleColor="Theme.SecondaryContainer"
                                       OnContainerRoleColor="Theme.OnSecondaryContainer" />
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <ColorWithContainerDisplay ColorRoleName="Tertiary"
                                       RoleColor="Theme.Tertiary"
                                       OnRoleColor="Theme.OnTertiary"
                                       ContainerRoleColor="Theme.TertiaryContainer"
                                       OnContainerRoleColor="Theme.OnTertiaryContainer" />
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <ColorWithContainerDisplay ColorRoleName="Error"
                                       RoleColor="Theme.Error"
                                       OnRoleColor="Theme.OnError"
                                       ContainerRoleColor="Theme.ErrorContainer"
                                       OnContainerRoleColor="Theme.OnErrorContainer" />
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <ColorCombinationDisplay ColorRoleName="Primary Fixed"
                                     RoleColor="Theme.PrimaryFixed"
                                     OnRoleColor="Theme.OnPrimaryFixed" />
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <ColorCombinationDisplay ColorRoleName="Secondary Fixed"
                                     RoleColor="Theme.SecondaryFixed"
                                     OnRoleColor="Theme.OnSecondaryFixed" />
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <ColorCombinationDisplay ColorRoleName="Tertiary Fixed"
                                     RoleColor="Theme.TertiaryFixed"
                                     OnRoleColor="Theme.OnTertiaryFixed" />
        </MudItem>
        
        <MudFlexBreak /> @* Missing element for Error Fixed*@

        <MudItem xs="12" md="9">
            <MudStack Spacing="4">
                <div class="d-flex flex-column flex-md-row w-100">
                    <div class="equal-flex-item">
                        <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Normal" ColorRoleName="Surface Dim" Background="Theme.SurfaceDim" Foreground="Theme.OnSurface" />
                    </div>
                    <div class="equal-flex-item">
                        <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Normal" ColorRoleName="Surface" Background="Theme.Surface" Foreground="Theme.OnSurface" />
                    </div>
                    <div class="equal-flex-item">
                        <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Normal" ColorRoleName="Surface Bright" Background="Theme.SurfaceBright" Foreground="Theme.OnSurface" />
                    </div>
                </div>

                <div class="d-flex flex-column flex-md-row w-100">
                    <div class="equal-flex-item">
                        <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Large" ColorRoleName="Surface Container Lowest" Background="Theme.SurfaceContainerLowest" Foreground="Theme.OnSurface" />
                    </div>
                    <div class="equal-flex-item">
                        <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Large" ColorRoleName="Surface Container Low" Background="Theme.SurfaceContainerLow" Foreground="Theme.OnSurface" />
                    </div>
                    <div class="equal-flex-item">
                        <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Large" ColorRoleName="Surface Container" Background="Theme.SurfaceContainer" Foreground="Theme.OnSurface" />
                    </div>
                    <div class="equal-flex-item">
                        <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Large" ColorRoleName="Surface Container High" Background="Theme.SurfaceContainerHigh" Foreground="Theme.OnSurface" />
                    </div>
                    <div class="equal-flex-item">
                        <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Large" ColorRoleName="Surface Container Highest" Background="Theme.SurfaceContainerHighest" Foreground="Theme.OnSurface" />
                    </div>
                </div>
            </MudStack>
        </MudItem>
        
        <MudItem xs="12" md="3">
            <MudStack Spacing="0">

                <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="Inverse Surface" Background="Theme.InverseSurface" Foreground="Theme.InverseOnSurface" />
                <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="Inverse On Surface" Background="Theme.InverseOnSurface" Foreground="Theme.InverseSurface" />
                <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="Inverse Primary" Background="Theme.InversePrimary" Foreground="Theme.Primary" />

            </MudStack>
        </MudItem>

        <MudItem xs="12" md="9">
            <div class="d-flex flex-column flex-md-row w-100">
                <div class="equal-flex-item">
                    <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="On Surface" Background="Theme.OnSurface" Foreground="Theme.Surface" />
                </div>
                <div class="equal-flex-item">
                    <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="On Surface Variant" Background="Theme.OnSurfaceVariant" Foreground="Theme.Surface" />
                </div>
                <div class="equal-flex-item">
                    <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="Outline" Background="Theme.Outline" Foreground="Theme.Surface" />
                </div>
                <div class="equal-flex-item">
                    <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="Outline Variant" Background="Theme.OutlineVariant" Foreground="Theme.OnSurface" />
                </div>
            </div>
        </MudItem>

        <MudItem xs="12" md="3">
            <div class="d-flex flex-column flex-md-row w-100 gap-4">
                <div class="equal-flex-item">
                    <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="Scrim" Background="Theme.Scrim" Foreground="@(RgbColor.FromArgb(0xFFFFFF))" />
                </div>
                <div class="equal-flex-item">
                    <ColorRoleDisplay Height="ColorRoleDisplay.HeightStyle.Small" ColorRoleName="Shadow" Background="Theme.Shadow" Foreground="@(RgbColor.FromArgb(0xFFFFFF))" />
                </div>
            </div>
        </MudItem>

    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public ThemeColors Theme { get; set; } = new ThemeColors();
}